<app-cabecera></app-cabecera>
<main class="container-fluid">
  <section class="widgets row">
    <ul class="widgets-list list-unstyled col">
      <app-widget-transferencia></app-widget-transferencia>
      <app-widget-espacio></app-widget-espacio>
      <app-widget-buzones></app-widget-buzones>
      <app-widget-ftp></app-widget-ftp>
      <app-widget-bd></app-widget-bd>
      <app-widget-fire-wall></app-widget-fire-wall>
    </ul>
  </section>
</main>
<footer class="pie container-fluid">
  <div class="row">
    <div class="col">Copyright 2023</div>
  </div>
</footer>
